{% extends "layout.html" %}
{% block title %}Configuration{% endblock %}
{% block content %}

{% if session.admin %}
<h2 class="display-5 fw-bold">Configuration</h2>
{% if configuration[5] == 0 %}

<form  action="/updateConfig" method="POST" >
    <div class="mb-3">
        <input type="hidden" name="id" value="{{ configuration[0] }}">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        <label class="form-label">Name</label>
            <input class="form-control" name="name" type="text" minlength="1" maxlength="40" value="{{ configuration[1] }}" required>
        <label class="form-label" >Participants</label>
            <input name="participants" type="number" value="{{ configuration[2] }}" min="1" max="50" required>
        <label class="form-label" >Rounds</label>
            <input  name="rounds" type="number" value="{{ configuration[3] }}" min="1" max="40" required>
        <label class="form-label" >Snake</label>
            <select class="form-select"name="snake">
                <option value=1 {% if configuration[4] == 1 %} selected{% endif %}>Yes</option>
                <option value=0 {% if configuration[4] ==  0 %} selected{% endif %}>No</option>
            </select>
        <button class="btn btn-info"type="submit">Update draft settings</button>
    </div>
</form>
<hr>
<div>
    <p>When you are sure the draft settings are correct and you have added enough players, start the draft here!</p>
    <h4>Current saved settings</h4>
    <ul>
        <li>Name: {{ configuration[1] }}</li>
        <li>Participants: {{ configuration[2] }}</li>
        <li>Rounds: {{ configuration[3] }}</li>
        <li>Snake: {% if configuration[4] == 1 %} Yes {% else %} No {% endif %}</li>
    </ul>
    <form action="/toggleConfirmConfig" method="POST" onsubmit="return confirm('Are you sure you want to confirm the draft settings?')">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        <input type="hidden" name="id" value="{{ configuration[0] }}">
        <input type="hidden" name="confirmed" value="{{ configuration[5] }}">
        <button class="btn btn-success" type="submit" >Start Draft</button>
    </form>
</div>

{% else %}

<form action="/toggleConfirmConfig" method="POST" onsubmit="return confirm('Are you sure you want to return to config? This resets the draft.')">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    <input type="hidden" name="id" value="{{ configuration[0] }}">
    <input type="hidden" name="confirmed" value="{{ configuration[5] }}">
    <button class="btn btn-danger" type="submit" >Reset draft</button>
</form>
<br>
<div>
<h3>Set teamnames</h3>

<form  action="/updateTeams" method="POST" onsubmit="return confirm('Are you sure you want to update teamnames?')">
     
{% for team in teams_list %}
    <div>
        <input type="hidden" name="id" value="{{ team[0] }}">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        <label class="form-label">Name</label>
        <input name="name" minlength="1" maxlength="60" type="text" value="{{ team[1] }}">
        <label class="form-label">Position</label>
        <span>{{ team[2] }}</span>
    </div>   
{% endfor %}
     
<button class="btn btn-info" type="submit">Update teams</button>
</form>
</div>

{% endif %}

{% else %}


{% endif %}

{% endblock %}