{% extends "layout.html" %}
{% block title %}Etusivu{% endblock %}
{% block content %}

{% if session.admin %}
{% if configuration[5] == 0 %}
<form  action="/updateConfig" method="POST" >
    <input type="hidden" name="id" value="{{ configuration[0] }}">
    <label>Name</label>
        <input name="name" type="text" value="{{ configuration[1] }}">
    <label>Participants</label>
        <input name="participants" type="number" value="{{ configuration[2] }}" min="1" max="50">
    <label>Rounds</label>
        <input name="rounds" type="number" value="{{ configuration[3] }}" min="1" max="40">
    <label>Snake</label>
        <select name="snake">
            <option value=1 {% if configuration[4] == 1 %} selected{% endif %}>Yes</option>
            <option value=0 {% if configuration[4] ==  0 %} selected{% endif %}>No</option>
        </select>
    <button type="submit">Update draft settings</button>
</form>
<p>When you are sure the draft settings are correct, please confirm the draft settings from the button below.</p>
<form action="/toggleConfirmConfig" method="POST" onsubmit="return confirm('Are you sure you want to confirm the draft settings?')">
    <input type="hidden" name="id" value="{{ configuration[0] }}">
    <input type="hidden" name="confirmed" value="{{ configuration[5] }}">
    <button type="submit" >CONFIRM DRAFT SETTINGS</button>
</form>
{% else %}
<form action="/toggleConfirmConfig" method="POST" onsubmit="return confirm('Are you sure you want to return to config? This resets teams.')">
    <input type="hidden" name="id" value="{{ configuration[0] }}">
    <input type="hidden" name="confirmed" value="{{ configuration[5] }}">
    <button type="submit" >Return to configuration</button>
</form>

<form  action="/updateTeams" method="POST" >
    
{% for team in teamsList %}
<div>
<input type="hidden" name="id" value="{{ team[0] }}">
    <label>Name</label>
        <input name="name" type="text" value="{{ team[1] }}">
    <label>Position</label>
        {{ team[2] }}
</div>
    
{% endfor %}
<button type="submit">Update teams</button>
</form>

{% endif %}

{% else %}


{% endif %}

{% endblock %}