{% extends "layout.html" %}
{% block title %}Draft{% endblock %}
{% block content %}
<h2 class="display-5 fw-bold">Draft</h2>
{% if session.admin %}

<div class="row">
    <div>
        <form action="/makeNextPick" method="POST">
            <button type="submit" class="btn btn-primary" {% if not players_available or picks_left == 0 %} disabled {% endif %}>Make next pick</button>
        </form>
    </div>
    <div>
        <form action="/revertLastPick" method="POST" onsubmit="return confirm('Are you sure you want to revert the last pick?')">
            <button type="submit" class="btn btn-danger" {% if picks|length == picks_left %} disabled {% endif %}>Revert last pick</button>
        </form>
    </div>
</div>

{% endif %}

<table class="table table-dark">
    <tr>
        <th>Pick</th>
        <th>Team</th>
        <th>Player name</th>
        <th>Player ISS</th>
    </tr>
    {% for pick in picks %}
    <tr {% if pick[0] == next_pick[0] %} class= "bg-primary" 
        {% elif pick[0] > next_pick[0] %} class= "bg-info" 
        {% endif %}>
        <td>{{ pick[1] }}</td>
        <td>{{ pick[2] }}</td>
        <td>{{ pick[3] }}</td>
        <td>{{ pick[4] }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}