{% if session.username %}
{% extends "layout.html" %}
{% block title %}Etusivu{% endblock %}
{% block content %}

<h2>Welcome {{ session.username }}</h2>

{% endblock %}

{% else %}
<h1>DraftManager</h1>
<form action="/login" method="POST">
    <p>Username:<br>
    <input type="text" name="username"></p>
    <p>Password:<br>
    <input type="password" name="password"></p>
    <input type="submit" value="Log in">
</form>

<p>Don't have an account yet? <a href="/register">Register here</a></p>

{% endif %}