<!doctype html>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="/static/custom.css">

{% if session.username %}
{% extends "layout.html" %}
{% block title %}Welcome{% endblock %}

{% block content %}

<h2>Welcome {{ session.username }}</h2>

{% if user_team%}
<body>
    {{uid}}
<p>Logged in as {{user_team[1]}} <a href="/list">My list</a></p> 
<p>Next pick is {{next_pick[0]}} by {{next_pick[1]}} <a href="/">View draft</a></p>

</body>
{% else %}
<h3>Please select your team</h3>
<body>
<form action="/selectTeam" method="POST">
    <input type="hidden" name="username" value="{{ session.username }}">
        <select name="teamId">

{% for team in team_list %}
            <option value="{{team[0]}}">{{team[1]}}</option>
{% endfor %}

        </select>
    <button type="submit">Submit</button>
</form>
</body>
{% endif %}

{% endblock %}

{% else %}

<title>DraftManager - LogIn</title>
<h1>DraftManager</h1>
<body>
<form action="/login" method="POST">
    <p>Username:<br>
    <input type="text" name="username"></p>
    <p>Password:<br>
    <input type="password" name="password"></p>
    <input type="submit" value="Log in">
</form>
</body>
<p>Don't have an account yet? <a href="/register">Register here</a></p>

{% endif %}