{% if session.username %}
{% extends "layout.html" %}
{% block title %}Welcome{% endblock %}

{% block content %}

<h2>Welcome {{ session.username }}</h2>

{% if userTeam%}

<p>Logged in as {{userTeam[1]}} <a href="/list/{{ session.userId }}">Your list</a></p> 
<p>Next pick is {{nextPick[0]}} by {{nextPick[1]}} <a href="/">View draft</a></p>


{% else %}
<h3>Please select your team</h3>

<form action="/selectTeam" method="POST">
    <input type="hidden" name="username" value="{{ session.username }}">
        <select name="teamId">

{% for team in teamList %}
            <option value="{{team[0]}}">{{team[1]}}</option>
{% endfor %}

        </select>
    <button type="submit">Submit</button>
</form>

{% endif %}

{% endblock %}

{% else %}

<title>DraftManager - LogIn</title>
<h1>DraftManager</h1>

<form action="/login" method="POST">
    <p>Username:<br>
    <input type="text" name="username"></p>
    <p>Password:<br>
    <input type="password" name="password"></p>
    <input type="submit" value="Log in">
</form>

<p>Don't have an account yet? <a href="/register">Register here</a></p>

{% endif %}