{% extends "layout.html" %}
{% block title %}My list{% endblock %}
{% block content %}
<h2 class="display-5 fw-bold">My list</h2>


{% for item in current_list %}
<div class="d-flex gap-2 justify-content-left py-2 border">
    <form action="/editItem" method="POST">
        <input type="hidden" name="item_id" value="{{ item[0] }}">
        <input type="hidden" name="order" value="{{ item[1] }}">
        <select class="form-select" name="player_id">
            <option value="{{ item[2] }}" selected {% if item[6] %} disabled {% endif %}>{{ item[3] }}. {{ item[4] }}, {{ item[5] }}</option>
            {% for player in players_list %}
            {% if not player[4] and item[2]!=player[0] %}
            <option value="{{ player[0] }}">{{ player[1] }}. {{ player[2] }}, {{ player[3] }}</option>
            {% endif %}
            {% endfor %}
        </select>    
        <button type="submit" class="btn btn-info">Confirm change</button>    
        <button type="submit" class="btn btn-danger" formaction="/deleteItem">Delete</button>    
    </form>
</div>
{% endfor %}


{% if current_list|length < max_items and players_list %}
<div class="d-flex gap-2 justify-content-left py-2 border">
    <form action="/addItem" method="POST">
        <input type="hidden" name="order" value="{{ current_list|length +1 }}">
        <select class="form-select" name="player_id">
            {% for player in players_list %}
            {% if not player[4] %}
            <option value="{{ player[0] }}">{{ player[1] }}. {{ player[2] }}, {{ player[3] }}</option>            
            {% endif %}
            {% endfor %}
        </select>
        <button type="submit" class="btn btn-primary">Add to List</button>
    </form>
</div>
{% endif %}
{% endblock %}