{% extends "layout.html" %}
{% block title %}Draft settings{% endblock %}
{% block content %}

{% if session.admin %}

<h3>Add Player</h3>
<form action="/addPlayer" method="POST">
    <label>ISS</label>
        <input name="iss" type="number" min ="1">
    <label>Name</label>
        <input name="name" type="text" maxlength="100">
    <label>Role</label>
        <select name="role">
            <option value="G">G</option>
            <option value="LD">LD</option>
            <option value="RD">RD</option>
            <option value="LW">LW</option>
            <option value="C">C</option>
            <option value="RW">RW</option>
        </select>
    <button type="submit">Add player</button>
</form>

{% endif %}

{% for player in playerList %}
<p>ISS: {{ player[1] }} Name: {{ player[2] }} Role: {{ player[3] }} </p>
{% endfor %}

{% endblock %}